.Weather-content {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40vh;
    gap: 5px;
  }

.Weather-Carousel {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}